@model IEnumerable<WebbShop.Models.Entities.Product>

    @{
        ViewBag.Title = "Home Page";
    }


     
  
<div class="jumbotron">
    <img src="\Content\Images\IPhoneBanner.jpg" alt="Banner" width="1000" height="370" />

</div>
@Html.Partial("_ProductSuggestion",Model)

    <div class="row">
        <div class="col-md-4">
            <h2>Phones of the Month</h2>
            <p>
                These are the months most popular phones.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Contact us</h2>
            <p>Have a burning question? Feel free to ask us here.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>About us</h2>
            <p>Learn more about The Phone Zoo.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>