
@{
    ViewBag.Title = "CheckoutComplete";
}



<img src="\Content\Images\success.png" alt="Complete" width="400" height="370" />

<h2><strong>Thank you for your order!<strong></strong></h2>

<h2><small>@Html.ActionLink("Continue Shopping", "Products", "Products")</small></h2>